.classpath
test/reports
.project
*.launch
*.tmproj
bin
web-app/WEB-INF
web-app/plugins
stacktrace.log
.settings
target
userimages/*
docs
private/*
catalog.xml
DomainUML.html
*.war
*.ser
.idea
*.iml
.project
spy.log
